{% load columnize %}
<!doctype html>
<html>
<head>
    <title>Split items of menu to 6 columns</title>
    <style>
        .category__item__group { display: inline-block; position: relative; vertical-align: top; }
    </style>
</head>
<body>
    {% for category in categories %}
    {% with split_by|random as by %}
    <h1>{{ category.name }} ({{ category.item_set.count}} / {{ by }})</h1>
    <div class="category__items">
        {% for group in category.item_set.all|columns:by %}
        <ul class="category__item__group">
            {% for item in group %}
            <li>{{ item.name }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    {% endwith %}
    {% endfor %}
</body>
</html>
